<!doctype html>
<html lang="en">

<head>
    {{> head }}
</head>

<body class="vertical  dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add Author</h5>
                                <input id="author" placeholder="Type new author, press enter" type="text"
                                       class="form-control">
                            </div>
                        </div>
                    </div>

                    <!-- simple table -->
                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">All Books</strong>
                                <a class="btn btn-sm btn-info float-right" data-toggle="modal"
                                   data-target="#bookFormModal">Create Book</a>
                            </div>
                            <div class="card-body">
                                <table class="table datatables" id="booksDatatable" width="100%">
                                    <thead>
                                    <tr>
<!--                                        <th>#</th>-->
                                        <th>Title</th>
                                        <th>Page</th>
                                        <th>Add to Path</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#books}}
                                        <tr>
<!--                                            <td><img class="lazy" data-src="{{thumbnail_small}}" src=""></td>-->
                                            <td>
                                                {{#info_link}}
                                                    <a href="{{info_link}}" target="_blank">{{author}} - {{title}}</a>
                                                {{/info_link}}
                                                {{^info_link}}
                                                    {{author}} - {{title}}
                                                {{/info_link}}
                                            </td>
                                            <td style="width:4%">{{page_count}}</td>
                                            <td style="width:7%">
                                                <div class="btn-group">
                                                    <button type="button"
                                                            class="btn btn-danger btn-sm dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Paths
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {{#paths}}
                                                            <a class="dropdown-item btnAddBookToPath"
                                                               data-id="{{pathUID}}"
                                                               data-book="{{bookUID}}">{{path_name}}</a>
                                                        {{/paths}}
                                                    </div>

                                                    {{#add_to_library}}
                                                        <button type="button"
                                                                class="btn btn-primary btn-sm float-right btnAddToLibrary"
                                                                data-id="{{bookUID}}">Add
                                                        </button>
                                                    {{/add_to_library}}
                                                </div>
                                            </td>
                                        </tr>
                                    {{/books}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
{{> navbar }}
{{> add-book }}

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/dkern/jquery.lazy@1.7.10/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/dkern/jquery.lazy@1.7.10/jquery.lazy.plugins.min.js"></script>


<script>
    $(document).ready(function () {

        $(".lazy").Lazy();

        $(".btnAddBookToPath").on('click', function (e) {
            ajaxCall('POST', "/books/" + $(this).data("book") + "/paths", "pathUID=" + $(this).data("id"), true)
        });

        $(".btnAddToLibrary").on('click', function (e) {
            var result = ajaxCall('PUT', "/books/" + $(this).data("id") + "/add-to-library", null)

            if (result !== false) {
                location.reload();
            }
        });

        $(".btnResetBook").on('click', function (e) {
            var result = ajaxCall('DELETE', "/books/" + $(this).data("id"), null)

            if (result !== false) {
                location.reload();
            }
        });

        $('#author').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                var result = ajaxCall('POST', "/authors", "author=" + $('#author').val())

                if (result !== false) {
                    location.reload();
                }
            }
        });

    });
</script>
</body>

</html>