<!doctype html>
<html lang="en">

<head>
    {{> head }}
</head>

<body class="vertical dark">
{{> navbar }}
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card-columns">
                        {{#books}}
                            <div id="{{divId}}" class="card">
                                <div class="card-header {{status_label}}">
                                    Read: {{{readStatus}}}

                                    {{#ebook_exist}}
                                        <span class="badge badge-pill badge-success float-right">Ebook</span>{{/ebook_exist}}
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        {{author}} - {{title}}
                                        <footer>
                                            <br>

                                            {{^amount}}
                                                <div class="input-group mb-3 actionCard">
                                                    <input id="{{bookUID}}" type="number"
                                                           class="form-control input-group-append inputAmount"
                                                           placeholder="Read amount">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btnAddAmount" type="button"
                                                                data-id="{{bookUID}}" data-path="{{pathUID}}"><i
                                                                class="fe fe-plus-circle fe-16"></i></button>
                                                    </div>
                                                </div>
                                            {{/amount}}

                                            <div class="form-group custom-control custom-checkbox">
                                                <input id="cb-{{bookUID}}" type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label" for="cb-{{bookUID}}">Read
                                                    yesterday</label>
                                            </div>

                                            {{^remove}}
                                                <div>
                                                    <button class="btn btn-sm btn-danger btnRemoveFromPath"
                                                            type="button"
                                                            data-id="{{bookUID}}" data-div="{{divId}}"
                                                            data-path="{{pathUID}}">
                                                        <i class="fe fe-trash fe-16"></i>
                                                    </button>
                                                </div>
                                            {{/remove}}
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        {{/books}}
                    </div>
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
{{> navbar }}
{{> add-book }}

<script>
    $(document).ready(function () {
        $(".btnAddAmount").on('click', function (e) {

            var bookUID = $(this).data("id");
            var readYesterdayCheckboxValue = $('#cb-' + bookUID).is(":checked") ? 1 : 0;
            var amount = $('#' + bookUID).val();
            var pathUID = $(this).data("path");
            var result = ajaxCall('POST', "/books/" + bookUID + "/progress", "amount=" + amount + "&pathUID=" + pathUID + "&readYesterday=" + readYesterdayCheckboxValue)

            if (result !== false) {
                $('#' + bookUID).val('');
                location.reload();
            }

        });

        $(".btnRemoveFromPath").on('click', function (e) {

            var bookUID = $(this).data("id");
            var pathUID = $(this).data("path");
            var divId = $(this).data("div");
            var result = ajaxCall('DELETE', "/books/paths/" + pathUID, "bookUID=" + bookUID)

            if (result !== false) {
                $('#' + divId).remove();
            }

        });
    });
</script>
</body>

</html>