<!doctype html>
<html lang="en">

<head>
    {{> head }}
</head>

<body class="vertical dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <strong class="card-title">Create New Path</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="input-group input-group-lg">
                                    <div class="form-group col-md-6">
                                        <label for="multi-select2">Name</label>
                                        <input id="pathName" placeholder="Name" type="text"
                                               class="form-control enterButtonKeyPress">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="multi-select2">Finish</label>
                                        <input type="text" id="pathFinish" placeholder="Finish"
                                               class="form-control enterButtonKeyPress">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <button id="btnAddNewPath" class="btn btn-primary mb-2">Add</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- / .card -->

                    <div class="card-columns">
                        {{#bookPaths}}
                            <div class="card">
                                <div class="card-header bg-dark">
                                    {{path_name}} <span
                                        class="badge badge-{{day_diff_text_class}}">{{day_diff_text}}</span>
                                    <span class="text-{{ratioBadgeColor}} float-right">{{ratio}}</span>
                                </div>
                                <div class="card-body">
                                    <div><span class="text-success">Start:</span> {{start}}</div>
                                    <div><span class="text-danger">Finish:</span> {{finish}}</div>
                                    <div><strong>Remaining Page</strong>: {{remaining_page}}</div>
                                    <br>
                                    <div><strong>{{{today_processed_text}}}</strong></div>
                                    {{^expired}}
                                        <div>Active Book Count: <strong>{{active_book_count}}</strong></div>
                                        <div>Done Book Count: <strong>{{done_book_count}}</strong></div>
                                        <div>Raw Daily: <strong>{{daily_amount_raw}}</strong></div>
                                    {{/expired}}
                                </div>
                                <div class="card-footer">
                                    {{#remaining_day_warning}}
                                        <button class="btn btn-sm btn-danger btnExtendFinishDate"
                                                data-uid="{{pathUID}}">Add
                                            10 More Days
                                        </button>
                                    {{/remaining_day_warning}}
                                    {{^expired}}
                                        <a class="btn btn-sm btn-dark"
                                           href="/books/paths/{{pathUID}}?status=active">Books</a>
                                    {{/expired}}
                                </div>
                            </div>
                        {{/bookPaths}}
                    </div>

                    <div class="my-4">
                        <div id="lineChart"></div>
                    </div>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
{{> navbar }}

<script src="/js/apexcharts.min.js"></script>
<script>
    $(document).ready(function () {

        var result = ajaxCall('GET', '/books/trackings/graphic-datas', null, false, false)

        if(result !== false) {
            lineChartOptions.series = result.data.trackings;
            lineChartOptions.xaxis.categories = result.data.dates;
            new ApexCharts(document.querySelector("#lineChart"), lineChartOptions).render();
        }

        $('#pathFinish').daterangepicker({
            singleDatePicker: true,
            timePicker: false,
            showDropdowns: true,
            locale: {format: 'MM/DD/YYYY'}
        });

        $("#btnAddNewPath").on('click', function (e) {

            var pathName = $('#pathName').val();
            var finishDate = $('#pathFinish').val();

            var result = ajaxCall('POST', "/books/paths", "pathName=" + pathName + "&pathFinish=" + finishDate)

            if (result !== false) {
                location.reload();
            }

        });

        $(".btnExtendFinishDate").on('click', function (e) {

            var pathUID = $(this).data("uid");
            var result = ajaxCall('POST', "/books/paths/" + pathUID + "/extend", null)

            if (result !== false) {
                location.reload();
            }

        });

    });
</script>
</body>

</html>