<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="horizontal dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    {{#highlights}}
                        <div class="row">
                            <div class="col-md-12">
                                <blockquote class="blockquote">
                                    <p>{{{html}}}</p>
                                    <footer class="blockquote-footer">{{author}} <cite
                                            title="Source Title">{{source}}</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                        <hr>
                    {{/highlights}}

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
</body>
</html>