<!doctype html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="/css/simplemde-theme-dark.min.css">
</head>

<body class="vertical dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-header">
                                <a type="button" class="btn btn-sm btn-primary"
                                   href="/highlights/{{previousID}}"><span
                                        class="fe fe-arrow-left fe-16 mr-2"></span> Previous Highlight</a>
                                <a type="button" class="btn btn-sm btn-primary float-right"
                                   href="/highlights/{{nextID}}">Next Highlight <span
                                        class="fe fe-arrow-right fe-16 mr-2"></span></a>
                            </div>
                            <div class="card-body">
                                {{#detail}}

                                    {{#not_editable_highlight_placeholder}}
                                        <h4>{{not_editable_highlight_placeholder}}</h4>
                                    {{/not_editable_highlight_placeholder}}

                                    {{^not_editable_highlight_placeholder}}
                                        <textarea id="highlight" hidden>{{#detail}}{{highlight}}{{/detail}}</textarea>
                                    {{/not_editable_highlight_placeholder}}

                                    <br>

                                    <div class="form-group">
                                        <input id="author" placeholder="Author" type="text" class="form-control"
                                               value="{{author}}">
                                    </div>

                                    <div class="form-group">
                                        <input id="source" placeholder="Source" type="text" class="form-control"
                                               value="{{source}}">
                                    </div>
                                    <div class="form-group">
                                        <input id="page" placeholder="Page" type="number" class="form-control"
                                               value="{{page}}">
                                    </div>
                                    <div class="form-group">
                                        <input id="location" placeholder="Location" type="text" class="form-control"
                                               value="{{location}}">
                                    </div>

                                    {{#link}}
                                        <div class="form-group">
                                            <input id="link" placeholder="Link" type="text" class="form-control"
                                                   value="{{link}}" disabled>
                                        </div>
                                    {{/link}}

                                    <div class="form-group">
                                        <input id="filename" placeholder="File Name" type="text" class="form-control"
                                               value="{{file_name}}">
                                    </div>
                                    <div class="form-group">
                                        <input id="tags" placeholder="Tags" type="text" class="form-control"
                                               value="{{#tags}}{{imploded_comma}}{{/tags}}">
                                    </div>
                                    <div class="form-group custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="is_secret"
                                               {{#is_secret}}checked="checked"{{/is_secret}}>
                                        <label class="custom-control-label" for="is_secret">Is secret?</label>
                                    </div>

                                    <div class="form-group custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="is_encrypted"
                                               {{#is_encrypted}}checked="checked"{{/is_encrypted}}>
                                        <label class="custom-control-label" for="is_encypted">Is encrypted?</label>
                                    </div>

                                    <div class="form-group">
                                        <button id="updateHighlight" type="button" class="btn btn-primary"
                                                data-id="{{id}}" {{#not_editable}}disabled{{/not_editable}}>
                                            Update
                                        </button>

                                        <button id="deleteHighlight" type="button" class="btn btn-danger float-right"
                                                data-id="{{id}}" {{#not_deletable}}disabled{{/not_deletable}}>
                                            Delete
                                        </button>
                                    </div>
                                {{/detail}}
                            </div>
                        </div>
                    </div>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add Comment</h5>
                                <div class="form-group">
                                    <textarea id="comment" hidden></textarea>
                                </div>
                                <div class="form-group">
                                    <input id="commentAuthor" placeholder="Author" type="text" class="form-control"
                                           value="{{#detail}}{{author}}{{/detail}}">
                                </div>
                                <div class="form-group">
                                    <input id="commentSource" placeholder="Source" type="text" class="form-control"
                                           value="{{#detail}}{{source}}{{/detail}}">
                                </div>
                                <div class="form-group">
                                    <input id="commentTags" placeholder="Tags" type="text" class="form-control">
                                </div>
                                <div class="form-group custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="is_comment_encrypted">
                                    <label class="custom-control-label" for="is_comment_encrypted">Is encrypted?</label>
                                </div>
                                <div class="form-group">
                                    {{#detail}}
                                        <button id="addComment" type="button" class="btn btn-primary" data-id="{{id}}">
                                            Add
                                        </button>
                                    {{/detail}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->

            <div class="row">
                <div class="col-md-12">
                    {{#subHighlights}}
                        <blockquote class="blockquote">
                            <p class="mb-0">{{{highlight}}}</p>
                            <footer class="blockquote-footer">{{author}} <cite title="Source Title">{{source}}</cite>
                                {{#tags}}
                                    <br>{{imploded_hashtag_blank}}
                                {{/tags}}
                            </footer>
                        </blockquote>
                    {{/subHighlights}}
                </div>
            </div>

        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
{{> navbar }}

<script src="/js/simplemde.min.js"></script>
<script>
    $(document).ready(function () {

        if ($('#highlight').length) {
            var simplemdeHighlight = new SimpleMDE({
                element: $("#highlight")[0],
                toolbar: ["bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list", "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview"],
                insertTexts: {"image": ["[", "]({{base_url}}/img/)"]},
            });
            $('#highlight').show();
        }

        var simplemdeComment = new SimpleMDE({
            element: $("#comment")[0],
            toolbar: ["bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list", "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview"],
            insertTexts: {"image": ["[", "]({{base_url}}/img/)"]},
        });
        $('#comment').show();

        $('#addComment').on('click', function (e) {

            var highlightID = $('#addComment').data('id');
            var comment = simplemdeComment.value();
            var author = $('#commentAuthor').val();
            var source = $('#commentSource').val();
            var tags = $('#commentTags').val();
            var is_encrypted = $('#is_comment_encrypted').is(":checked") ? 'Yes' : 'No';

            var data = "highlight=" + encodeURIComponent(comment) +
                    "&source=" + encodeURIComponent(source) +
                    "&author=" + encodeURIComponent(author) +
                    "&tags=" + encodeURIComponent(tags) +
                    "&is_encrypted=" + encodeURIComponent(is_encrypted);

            var result = ajaxCall('POST', "/highlights/" + highlightID + "/sub", data)

            if (result !== false) {
                location.reload();
            }

        });

        $('#updateHighlight').on('click', function (e) {

            var highlight = simplemdeHighlight.value();
            var author = $('#author').val();
            var source = $('#source').val();
            var page = $('#page').val();
            var highlightLocation = $('#location').val();
            var link = $('#link').val();
            var fileName = $('#filename').val();
            var tags = $('#tags').val();
            var highlightID = $(this).data('id');
            var is_secret = $('#is_secret').is(":checked") ? 1 : 0;
            var is_encrypted = $('#is_encrypted').is(":checked") ? 'Yes' : 'No';
            var data = "highlight=" + encodeURIComponent(highlight) +
                    "&author=" + encodeURIComponent(author) +
                    "&source=" + encodeURIComponent(source) +
                    "&page=" + page +
                    "&location=" + highlightLocation +
                    "&link=" + link +
                    "&filename=" + encodeURIComponent(fileName) +
                    "&tags=" + tags +
                    "&is_secret=" + is_secret +
                    "&is_encrypted=" + encodeURIComponent(is_encrypted);

            var result = ajaxCall('PUT', "/highlights/" + highlightID, data)

            if (result !== false) {
                location.reload();
            }

        });

        $('#deleteHighlight').on('click', function (e) {

            var highlightID = $(this).data('id');
            var result = ajaxCall('DELETE', "/highlights/" + highlightID, null);

            if (result !== false) {
                window.location.replace('/highlights/{{nextID}}')
            }

        });

    });
</script>
</body>

</html>