<!doctype html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="/css/simplemde-theme-dark.min.css">
    <style>
        img {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/css/highlightjs/default.min.css">
</head>

<body class="vertical dark">
<div class="wrapper">
    <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
            <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <input id="searchHighlights" class="nav form-control bg-transparent border-0 pl-4 text-muted"
               type="search" placeholder="Search Highlights" aria-label="Search">
    </nav>
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title">Add New Highlight</h5>
                                <textarea id="highlight" hidden></textarea>

                                <div class="input-group input-group-md">
                                    <input id="author" placeholder="Author" type="text"
                                           class="form-control enterButtonKeyPress">
                                    <input id="source" placeholder="Source" type="text"
                                           class="form-control enterButtonKeyPress">
                                    <input id="filename" placeholder="File Name" type="text"
                                           class="form-control enterButtonKeyPress">
                                    <input id="page" placeholder="Page" type="number"
                                           class="form-control enterButtonKeyPress">
                                </div>

                                <br>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <input id="tags" placeholder="Tags" type="text"
                                               class="form-control enterButtonKeyPress">
                                    </div>
                                    <div class="form-group col-3">
                                        <input id="blogPath" placeholder="Blog Path" type="text"
                                               class="form-control enterButtonKeyPress">
                                    </div>
                                    <div class="form-group col-3">
                                        <select id="is_encrypted" class="form-control">
                                            <option disabled selected>Store encrypted?</option>
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="accordion w-100" id="accordion1">
                                <div class="card shadow">
                                    <div class="card-header" id="heading1">
                                        <a role="button" href="#collapse1" data-toggle="collapse"
                                           data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                            <strong>Tags</strong>
                                        </a>
                                    </div>
                                    <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                         data-parent="#accordion1">
                                        <div class="card-body">
                                            {{#headerTags}}
                                            <a role="button" href="/highlights{{#href}}?tag={{href}}{{/href}}"
                                                class="badge badge-{{badge}}
                                                ">
                                                <strong>#{{tag}} ({{tag_count}})</strong>
                                                </a>
                                            {{/headerTags}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end section -->

                    <br>

                    <div id="search-results"></div>

                    {{#highlights}}
                        <div class="card highlightCard">
                            <div class="card-body">
                                <a role="button" href="/highlights/{{id}}" class="badge badge-primary float-right"><span
                                        class="fe fe-edit fe-8"></span></a>
                                <br>
                                {{{highlight}}}

                                <footer class="blockquote-footer">
                                    {{author}} <cite>{{source}}</cite> ~ {{created_at_formatted}}
                                    /{{updated_at_formatted}}

                                    {{#tags}}
                                        <br><br>
                                        <strong>{{imploded_hashtag_blank}}</strong>
                                    {{/tags}}
                                </footer>

                            </div>
                        </div>
                        <br class="highlightCardBR">
                    {{/highlights}}

                    {{=<% %>=}}
                    <script id="search-results-template" type="text/x-handlebars-template">
                        {{#highlights}}
                        <div class="card highlightCard">
                            <div class="card-body">
                                <a role="button" href="/highlights/{{id}}" class="badge badge-primary float-right"><span
                                        class="fe fe-edit fe-8"></span></a>
                                <br>
                                {{{highlight}}}

                                <footer class="blockquote-footer">
                                    {{author}} <cite>{{source}}</cite> ~ {{created_at_formatted}}

                        {{#tags}}
                                        <br><br>
                                        <strong>{{imploded_hashtag_blank}}</strong>
                                    {{/tags}}
                                </footer>

                            </div>
                        </div>
                        <br class="highlightCardBR">
                    {{/highlights}}





                    </script>
                    <%={{ }}=%>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
<script src="/js/mustache.min.js"></script>
<script src="/js/simplemde.min.js"></script>
<script src="/js/highlight.min.js"></script>
<script src="/js/jquery.lazy.min.js"></script>
<script src="/js/jquery.lazy.plugins.min.js"></script>

<script>
    $(document).ready(function () {

        $(".collapseSidebar").on("click", function (e) {
            $(".vertical").hasClass("narrow") ? $(".vertical").toggleClass("open") : ($(".vertical").toggleClass("collapsed"), $(".vertical").hasClass("hover") && $(".vertical").removeClass("hover")), e.preventDefault()
        })

        $(".lazy").Lazy();

        hljs.highlightAll();

        var simplemde = new SimpleMDE({
            element: $("#highlight")[0],
            toolbar: ["bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list", "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview"],
            insertTexts: {"image": ["[", "]({{base_url}}/img/)"]},
            autofocus: true
        });

        $('#highlight').show();

        $('#searchHighlights').bind('keypress', function (e) {
            if (e.keyCode == 13) {

                var searchParam = $('#searchHighlights').val();

                if (searchParam !== '') {
                    var result = ajaxCall('POST', "/highlights/search", 'searchParam=' + searchParam, false, false)

                    if (result !== false) {
                        $('.highlightCard').remove();
                        $('.highlightCardBR').remove();

                        var template = $('#search-results-template').html();
                        Mustache.parse(template);
                        var rendered = Mustache.render(template, result);
                        $("#search-results").html(rendered);
                    }
                }
            }
        });

        $('.enterButtonKeyPress').bind('keypress', function (e) {
            if (e.keyCode == 13) {

                $.bootstrapPurr('running duplicate highlight control', {
                    type: 'warning',
                    delay: 2000
                });

                var highlight = simplemde.value();
                var author = $('#author').val();
                var source = $('#source').val();
                var fileName = $('#filename').val();
                var page = $('#page').val();
                var tags = $('#tags').val();
                var is_encrypted = $('#is_encrypted').val();
                var blogPath = $('#blogPath').val();

                var data = "highlight=" + encodeURIComponent(highlight) +
                        "&author=" + encodeURIComponent(author) +
                        "&source=" + encodeURIComponent(source) +
                        "&page=" + encodeURIComponent(page) +
                        "&tags=" + encodeURIComponent(tags) +
                        "&filename=" + encodeURIComponent(fileName) +
                        "&blogPath=" + encodeURIComponent(blogPath) +
                        "&is_encrypted=" + encodeURIComponent(is_encrypted);
                var result = ajaxCall('POST', "/highlights", data)

                if (result !== false) {
                    location.reload();
                }
            }
        });

    });
</script>
</body>

</html>