<!doctype html>
<html lang="en">
<head>
    {{> head }}
    <link href="/css/summernote.css" rel="stylesheet">
</head>
<body class="vertical  dark">
<div class="wrapper">
    {{> navbar }}
    {{> menu }}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <!-- simple table -->
                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">One List to Rule Them All</h5>
                                <table class="table table-striped table-bordered" id="booksDatatable" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="width:5%">Type</th>
                                        <th>To Do</th>
                                        <th style="width:5%">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#data}}
                                        <tr>
                                            <td><span class="badge badge-{{badge}}">{{todoType}}</span></td>
                                            <td>{{{todoName}}}</td>
                                            <td>{{{status}}}</td>
                                        </tr>
                                    {{/data}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
{{> edit-todo }}
<script>
    $(document).ready(function () {

    });
</script>
</body>
</html>