<!doctype html>
<html lang="en">

<head>
    {{> head }}
</head>

<body class="vertical dark">
    <div class="wrapper">
        <main role="main" class="main-content">
            <div class="container-fluid">

                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card">
                                <div class="card-body">
                                    {{#details}}

                                    <div class="form-group">
                                        <input id="bookmark" placeholder="Bookmark" type="text" class="form-control"
                                            value="{{bookmark}}">
                                    </div>

                                    <div class="form-group">
                                        <input id="title" placeholder="Title" type="text" class="form-control"
                                            value="{{title}}">
                                    </div>
                                    <div class="form-group">
                                        <input id="note" placeholder="Note" type="number" class="form-control"
                                            value="{{note}}">
                                    </div>
                                    <div class="form-group">
                                        <select id="category" class="form-control">
                                            {{#categories}}
                                            <option value="{{id}}" {{#selected}}selected="selected" {{/selected}}>
                                                {{name}}</option>
                                            {{/categories}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="status" class="form-control">
                                            <option value="0" {{#selectedNew}}selected="selected" {{/selectedNew}}>New
                                            </option>
                                            <option value="1" {{#selectedStarted}}selected="selected"
                                                {{/selectedStarted}}>Started</option>
                                            <option value="2" {{#selectedDone}}selected="selected" {{/selectedDone}}>
                                                Done</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button id="updateBookmark" type="button" class="btn btn-primary"
                                            data-uid="{{uid}}">
                                            Update
                                        </button>

                                        <button id="deleteBookmark" type="button" class="btn btn-danger float-right"
                                            data-uid="{{uid}}">
                                            Delete
                                        </button>
                                    </div>
                                    {{/details}}
                                </div>
                            </div>
                        </div>

                    </div> <!-- .col-12 -->
                </div> <!-- .row -->

            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div> <!-- .wrapper -->

    {{> include}}
    {{> menu }}
    {{> navbar }}

    <script>
        $(document).ready(function () {

            $('#updateBookmark').on('click', function (e) {

                var bookmarkUID = $(this).data('uid');
                var data = "bookmark=" + encodeURIComponent($('#bookmark').val()) + "&title=" + encodeURIComponent($('#title').val()) + "&note=" + $('#note').val() + "&categoryId=" + $('#category').val() + "&status=" + $('#status').val();
                var result = ajaxCall('PUT', "/bookmarks/" + bookmarkUID, data)

                if (result !== false) {
                    location.reload();
                }

            });

        });
    </script>
</body>

</html>