<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="vertical  dark">
<div class="wrapper">
    {{> navbar }}
    {{> menu }}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card-columns">
                        {{#books}}
                            <div id="{{divId}}" class="card">
                                <div class="card-header {{status_label}}">
                                    Read: {{{readStatus}}}
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        {{title}} - {{author}}
                                        <footer>
                                            <br>

                                            {{^amount}}
                                                <div class="input-group mb-3 actionCard">
                                                    <input id="{{bookUID}}" type="number"
                                                           class="form-control inputAmount"
                                                           placeholder="Read amount">
                                                    <span class="input-group-append"><button
                                                            class="btn btn-secondary btnAddAmount" type="button"
                                                            data-id="{{bookUID}}" data-path="{{pathUID}}">+</button>
                                                            </span>
                                                </div>
                                            {{/amount}}

                                           {{^remove}}
                                               <div>
                                                   <button class="btn btn-danger btnRemoveFromPath"
                                                           type="button" data-id="{{bookUID}}"
                                                           data-div="{{divId}}"
                                                           data-path="{{pathUID}}">Remove
                                                   </button>
                                               </div>
                                           {{/remove}}
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        {{/books}}
                    </div>
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
{{> add-book }}
<script>
    $(document).ready(function () {
        var initBooks = function () {

            bindingsBooks();
        };

        var bindingsBooks = function () {

            $(".btnAddAmount").on('click', function (e) {

                var bookUID = $(this).data("id");
                var amount = $('#' + bookUID).val();
                var pathUID = $(this).data("path");

                $.ajax({
                    type: "POST",
                    data: "amount=" + amount + "&pathUID=" + pathUID,
                    url: "/books/" + bookUID + "/progress",
                    success: function (data, status, xhr) {
                        alert(xhr.responseJSON.message);
                        location.reload();
                    },
                    error: function (data, status, xhr) {
                        alert(data.responseJSON.message);
                    }
                });
            });

            $(".btnRemoveFromPath").on('click', function (e) {

                var bookUID = $(this).data("id");
                var pathUID = $(this).data("path");
                var divId = $(this).data("div");

                $.ajax({
                    type: "DELETE",
                    data: "bookUID=" + bookUID,
                    url: "/books/paths/" + pathUID,
                    success: function (data, status, xhr) {
                        $('#' + divId).remove();
                        alert(xhr.responseJSON.message);
                    },
                    error: function (data, status, xhr) {
                        alert(data.responseJSON.message);
                    }
                });
            });

        };

        initBooks();
    });
</script>
</body>
</html>