<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="vertical dark">
<div class="wrapper">
    {{> include}}
    {{> navbar }}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add a date</h5>
                                <div class="form-group">
                                    <input type="text" id="name" placeholder="Type a name" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="text" id="start" class="form-control">
                                </div>

                                <div class="form-group">
                                    <button id="btnAddNewDateTracking" class="btn btn-primary mb-2">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>Today: {{today}}</h2>
                    <h2>Reading Average: {{readingAverage}} ({{readingTotal}}/{{dayDiff}})</h2>
                    <table class="table table-striped table-bordered" id="booksDatatable" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Started</th>
                            <th>Diff</th>
                            <th>Mins</th>
                            <th>Hours</th>
                            <th>Days</th>
                            <th>Weeks</th>
                            <th>Months</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dateTrackings}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{start}}</td>
                                <td>{{diff}} years - {{detailedDiff}}</td>
                                <td>{{minutes}}</td>
                                <td>{{hours}}</td>
                                <td>{{days}}</td>
                                <td>{{weeks}}</td>
                                <td>{{months}}</td>
                            </tr>
                        {{/dateTrackings}}
                        </tbody>
                    </table>

                    <hr>
                    {{#randomHighlight}}
                        <h2>Random Highlight:</h2>
                        <div class="card highlightCard">
                            <div class="card-body">
                                <a role="button" href="/highlights/{{id}}" class="badge badge-primary float-right"><span
                                        class="fe fe-edit fe-8"></span></a>
                                <br>
                                {{{highlight}}}

                                <footer class="blockquote-footer">
                                    {{author}} <cite>{{source}}</cite> ~ {{created_at_formatted}}
                                    /{{updated_at_formatted}}
                                </footer>

                            </div>
                        </div>
                    {{/randomHighlight}}

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> menu }}

<script>
    $(document).ready(function () {

        $('#start').daterangepicker({
            singleDatePicker: true,
            timePicker: false,
            showDropdowns: true,
            locale: {format: 'MM/DD/YYYY'}
        });

        $("#btnAddNewDateTracking").on('click', function (e) {

            var name = $('#name').val();
            var start = $('#start').val();
            var result = ajaxCall('POST', "/datetrackings", "name=" + name + "&start=" + start)

            if (result !== false) {
                location.reload();
            }

        });

    });
</script>
</body>
</html>