<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="vertical  dark">
<div class="wrapper">
    {{> navbar }}
    {{> menu }}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
</body>
</html>