<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="vertical  dark">
<div class="wrapper">
    {{> navbar }}
    {{> menu }}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <h2>Today: {{today}}</h2>
                    <h2>Reading Average: {{readingAverage}} ({{readingTotal}}/{{dayDiff}})</h2>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
<script>
    $(document).ready(function () {

    });
</script>
</body>
</html>