<!doctype html>
<html lang="en">
<head>
    {{> head }}
    <link href="/css/summernote.css" rel="stylesheet">
</head>
<body class="vertical  dark">
<div class="wrapper">
    {{> navbar }}
    {{> menu }}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add New To Do</h5>
                                <div class="input-group input-group-lg">
                                    <input type="text" id="todo" name="todo" placeholder="To Do" class="form-control">
                                </div>

                                <br>

                                <div class="input-group input-group-lg">
                                    <textarea id="description" name="description" class="form-control"
                                              placeholder="Description" rows="2"></textarea>
                                    <div class="input-group-append">
                                        <button id="btnAddTodo" class="btn btn-success" type="button">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#todos}}

                        <div class="accordion accordion-boxed" id="{{accordionId}}">
                            <div class="card">
                                <div class="card-header {{cardHeaderBg}}">

                                    <div class="row align-items-center">
                                        <div class="col-10">
                                            <a role="button" href="#{{cardBodyId}}" data-toggle="collapse"
                                               aria-expanded="false">
                                                <strong>{{{todo}}}</strong>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                                {{#escalateAction}}
                                                    <a class="btn btn-sm btn-primary btnEscalateTodo"
                                                       data-id="{{id}}"><i class="fe fe-arrow-up fe-16"></i></a>
                                                {{/escalateAction}}

                                                {{#editAction}}
                                                    <a class="btn btn-sm btn-info btnEditTodo"
                                                       data-id="{{id}}" data-toggle="modal"
                                                       data-target="#editTodoModal"><i class="fe fe-edit fe-16"></i></a>
                                                {{/editAction}}

                                                {{#cancelAction}}
                                                    <a class="btn btn-sm btn-danger btnStatusAction"
                                                       data-status="3" data-id="{{id}}"><i
                                                            class="fe fe-x fe-16"></i></a>
                                                {{/cancelAction}}

                                                {{#startAction}}
                                                    <a class="btn btn-sm btn-primary btnStatusAction"
                                                       data-status="1" data-id="{{id}}"><i class="fe fe-play fe-16"></i></a>
                                                {{/startAction}}

                                                {{#doneAction}}
                                                    <a class="btn btn-sm btn-success btnStatusAction"
                                                       data-status="2" data-id="{{id}}"><i
                                                            class="fe fe-check fe-16"></i></a>
                                                {{/doneAction}}

                                                {{#canceled}}
                                                    {{canceled}}
                                                    <i class="fe fe-x fe-16"></i>
                                                {{/canceled}}

                                                {{#complete}}
                                                    {{done}}
                                                    <i class="fe fe-check fe-16"></i>
                                                {{/complete}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {{#description}}
                                    <div id="{{cardBodyId}}" class="collapse" data-parent="#{{accordionId}}">
                                        <div class="card-body">
                                            <h5 class="card-title">Description</h5>
                                            <p class="card-text">{{{description}}}</p>
                                        </div>
                                    </div>
                                {{/description}}
                            </div>
                        </div>

                        <br>
                    {{/todos}}

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
{{> edit-todo }}
<script>
    $(document).ready(function () {

        $("#btnAddTodo").on('click', function (e) {
            var todo = $('#todo').val();
            var description = $('#description').val();
            var result = ajaxCall('POST', "/todos", "todo=" + encodeURIComponent(todo) + "&description=" + encodeURIComponent(description))

            if (result !== false) {
                location.reload();
            }
        });

        $(".btnStatusAction").on('click', function (e) {
            var id = $(this).data('id');
            var status = $(this).data('status');
            var result = ajaxCall('PUT', "/todos/" + id + "/status", "status=" + status)

            if (result !== false) {
                location.reload();
            }
        });

        $(".btnEscalateTodo").on('click', function (e) {
            var id = $(this).data('id');
            var result = ajaxCall('PUT', "/todos/" + id + "/escalate", null)

            if (result !== false) {
                location.reload();
            }
        });

    });
</script>
</body>
</html>