<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>{{pageTitle}}</title>
<!-- Simple bar CSS -->
<link rel="stylesheet" href="/css/simplebar.css">
<!-- Fonts CSS -->
<link href="/css/fonts.googleapis.com.css2.css" rel="stylesheet">

<link rel="stylesheet" href="/css/dataTables.bootstrap4.css">

<link rel="stylesheet" href="/css/daterangepicker.css">

<!-- Icons CSS -->
<link rel="stylesheet" href="/css/feather.css">

<link rel="stylesheet" href="/css/select2.css">

<!-- App CSS -->
<link rel="stylesheet" href="/css/app-dark.css" id="darkTheme">