<aside class="sidebar-left border-right bg-white" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                trackr
            </a>
        </div>

        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown {{activeHome}}">
                <a href="/" class="nav-link">
                    <i class="fe fe-home fe-16"></i>
                    <span class="ml-3 item-text">Home</span>
                </a>
            </li>
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Books</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown {{activeBookPaths}}">
                <a href="/books/paths" class="nav-link">
                    <i class="fe fe-list fe-16"></i>
                    <span class="ml-3 item-text">Paths</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeAllBooks}}">
                <a href="/all-books" class="nav-link">
                    <i class="fe fe-book-open fe-16"></i>
                    <span class="ml-3 item-text">All Books</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeMyBooks}}">
                <a href="/my-books" class="nav-link">
                    <i class="fe fe-book fe-16"></i>
                    <span class="ml-3 item-text">My Books</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeFinished}}">
                <a href="/books/finished" class="nav-link">
                    <i class="fe fe-archive fe-16"></i>
                    <span class="ml-3 item-text">Finished</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeCategories}}">
                <a href="/categories" class="nav-link">
                    <i class="fe fe-layers fe-16"></i>
                    <span class="ml-3 item-text">Categories</span>
                </a>
            </li>
        </ul>

        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Trackings</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown {{activeBookmarks}}">
                <a href="/bookmarks" class="nav-link">
                    <i class="fe fe-bookmark fe-16"></i>
                    <span class="ml-3 item-text">Bookmarks</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeTrackings}}">
                <a href="/trackings" class="nav-link">
                    <i class="fe fe-navigation fe-16"></i>
                    <span class="ml-3 item-text">Trackings</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeVideos}}">
                <a href="/videos" class="nav-link">
                    <i class="fe fe-video fe-16"></i>
                    <span class="ml-3 item-text">Videos</span>
                </a>
            </li>
            <li class="nav-item dropdown {{activeHighlights}}">
                <a href="/highlights" class="nav-link">
                    <i class="fe fe-scissors fe-16"></i>
                    <span class="ml-3 item-text">Highlights</span>
                </a>
            </li>
        </ul>

        <div class="btn-box w-100 mt-4 mb-1">
            <a href="/logout" class="btn mb-2 btn-danger btn-lg btn-block">
                <i class="fe fe-log-out fe-12 mr-2"></i><span class="small text">Logout</span>
            </a>
        </div>
    </nav>
</aside>