<button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
    <i class="fe fe-menu navbar-toggler-icon"></i>
</button>

<ul class="nav">
    <li class="nav-item">
        <div id="navbarReadingAverageInfo" class="nav-link"></div>
    </li>

    <li class="nav-item">
        <div id="navbarTodayInfo" class="nav-link"></div>
    </li>
</ul>