{{#highlights}}
    <div class="card highlightCard">
        <div class="card-header">
            {{#version_count}}
                <a role="button" href="#" data-id="{{id}}" class="badge badge-warning float-right btnHighlightVersions"
                   data-toggle="modal" data-target="#highlightVersionsModal"><span class="fe fe-activity fe-8"></span> {{version_count}}</a>
            {{/version_count}}

            {{#parent_highlight}}
                <a role="button" href="/highlights/{{highlight_id}}/details"
                   class="badge badge-info float-right highlightToolTip" data-id="{{highlight_id}}">Parent</a>
            {{/parent_highlight}}

            <a role="button" href="/highlights/{{id}}/details" class="badge badge-primary float-right"><span
                    class="fe fe-edit fe-8"></span></a>
            <a role="button" class="badge float-right addToFavorite" data-id="{{id}}" data-toggle="tooltip" data-placement="top" title="Click to add to favorite"><span
                    class="fe fe-heart fe-8"></span></a>

            {{#blog_path}}
                <strong># {{blog_path}}</strong>
            {{/blog_path}}

            {{#is_secret}}<i class="fe fe-lock fe-12" data-toggle="tooltip" data-placement="top" title="Secret Highlight"></i>{{/is_secret}}
        </div>

        <div class="card-body">

            {{{highlight}}}

            <footer class="blockquote-footer">

                {{#activeLinkSource}}
                    <a href="?{{queryField}}={{ultimate_source}}">{{ultimate_source}} ~ {{created_at_formatted}}/{{updated_at_formatted}}</a>
                {{/activeLinkSource}}

                {{^activeLinkSource}}
                    {{ultimate_source}} ~ {{created_at_formatted}}/{{updated_at_formatted}}
                {{/activeLinkSource}}

            </footer>
        </div>

        {{#tags}}
        <div class="card-footer small">
                <strong>{{{imploded_link_blank}}}</strong>
        </div>
        {{/tags}}
    </div>
    <br class="highlightCardBR">
{{/highlights}}