<!doctype html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="/css/simplemde-theme-dark.min.css">

</head>

<body class="vertical dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add New Highlight</h5>
                                <textarea id="highlight" hidden></textarea>

                                <div class="input-group input-group-lg">
                                    <input id="tags" placeholder="Tags" type="text" value="{{tags}}"
                                           class="form-control enterButtonKeyPress">
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul>
                        {{#highlights}}
                            <li>{{{highlight}}} <a href="/highlights/{{id}}">Go to highlight</a></li>
                        {{/highlights}}
                    </ul>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
{{> navbar }}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    $(document).ready(function () {

        var simplemde = new SimpleMDE({
            element: $("#highlight")[0],
            toolbar: ["bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list", "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview"],
            insertTexts: {"image": ["[", "]({{base_url}}/img/)"]},
        });

        $('#highlight').show();

        $('.enterButtonKeyPress').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                var highlight = simplemde.value();
                var tags = $('#tags').val();
                var data = "highlight=" + encodeURIComponent(highlight) + "&tags=" + encodeURIComponent(tags);
                var result = ajaxCall('POST', "/bookmarks/{{bookmarkUID}}/highlights", data)

                if (result !== false) {
                    location.reload();
                }
            }
        });
    });
</script>
</body>

</html>