<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="vertical dark">
<div class="wrapper">
    {{> include}}
    <nav class="topnav navbar navbar-light">
        {{> navbar }}
    </nav>
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add a chain</h5>

                                <div class="input-group input-group-md">

                                    <input id="chainName" placeholder="Chain Name" type="text"
                                           class="form-control">
                                    <select class="custom-select" id="chainType">
                                        <option selected disabled>Choose Chain Type</option>
                                        <option value="1">Boolean</option>
                                        <option value="2">Float</option>
                                        <option value="3">Integer</option>
                                    </select>
                                    <select class="custom-select" id="chainConstantType">
                                        <option selected disabled>Choose Chain Constant Type</option>
                                        <option value="0">Constant</option>
                                        <option value="1">Casual</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button id="btnAddChain" class="btn btn-primary" type="button">
                                            <i class="fe fe-plus-circle fe-16"></i>
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered" id="chainsDatatable" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Started At</th>
                            <th>Today</th>
                            <th>Show in Logs</th>
                            <th>Constant</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#chains}}
                            <tr>
                                <td data-toggle="tooltip" data-placement="top"
                                    title="Chain Type: {{chainTypeName}}&#10;Chain Constant Type: {{chainConstantTypeName}}">
                                    <a href="#" class="btnShowLineChart" data-uid="{{chainUid}}" data-toggle="modal"
                                       data-target="#lineChartModal">{{chainName}}</a>
                                </td>
                                <td>{{chainCreatedAt}}</td>
                                <td style="width:10%">
                                    {{#boolean}}
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input linkBooleanValue"
                                                   id="{{chainUid}}" data-uid="{{chainUid}}" data-type="{{chainTypeName}}" {{todaysLinkValue}}>
                                            <label class="custom-control-label" for="{{chainUid}}"></label>
                                        </div>
                                    {{/boolean}}

                                    {{#float}}
                                        <div class="form-group custom-control custom-checkbox">
                                            <input class="form-control linkValue enterButtonKeyPress" maxlength="9"
                                                   data-type="{{chainTypeName}}" data-uid="{{chainUid}}"
                                                   value="{{todaysLinkValue}}">
                                        </div>
                                    {{/float}}

                                    {{#integer}}
                                        <div class="form-group custom-control custom-checkbox">
                                            <input class="form-control linkValue enterButtonKeyPress" maxlength="9"
                                                   data-type="{{chainTypeName}}" data-uid="{{chainUid}}"
                                                   value="{{todaysLinkValue}}">
                                        </div>
                                    {{/integer}}
                                </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input chainShowInLogsStatus"
                                               id="{{chainShowInLogsInputUid}}" data-uid="{{chainUid}}" {{chainShowInLogsInputChecked}}>
                                        <label class="custom-control-label" for="{{chainShowInLogsInputUid}}"></label>
                                    </div>
                                </td>
                                <td data-toggle="tooltip" data-placement="top"
                                    title="If you activate this setting, system creates new record as default value each day for you">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input chainConstantStatus"
                                               id="{{chainConstantInputUid}}" data-uid="{{chainUid}}" {{chainConstantInputChecked}}>
                                        <label class="custom-control-label" for="{{chainConstantInputUid}}"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group custom-control custom-checkbox">
                                        <input class="form-control linkNote enterButtonKeyPress" data-uid="{{chainUid}}"
                                               data-type="{{chainTypeName}}" value="{{#link}}{{linkNote}}{{/link}}">
                                    </div>
                                </td>
                            </tr>
                        {{/chains}}
                        </tbody>
                    </table>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> menu }}
{{> line-chart }}

<script src="/js/apexcharts.min.js"></script>
<script src="/js/charts/line.js"></script>

<script>
    $(document).ready(function () {

        $(".btnShowLineChart").on('click', function (e) {
            var chainUID = $(this).data('uid');
            var graphicDataResult = ajaxCall('GET', '/chains/' + chainUID + '/graphic', null, false, false)

            if (graphicDataResult !== false) {
                lineChartOptions.series = graphicDataResult.data.trackings;
                lineChartOptions.xaxis.categories = graphicDataResult.data.dates;
                new ApexCharts(document.querySelector("#lineChart"), lineChartOptions).render();
            }
        });

        $("#btnAddChain").on('click', function (e) {

            var chainName = $('#chainName').val();
            var chainType = $('#chainType').val();
            var chainConstantType = $('#chainConstantType').val();
            var result = ajaxCall('POST', "/chains", "chainName=" + chainName + "&chainType=" + chainType + "&chainConstantType=" + chainConstantType)

            if (result !== false) {
                location.reload();
            }

        });

        $(".linkBooleanValue").on('click', function (e) {
            var chainUID = $(this).data('uid');
            var value = $(this).is(':checked') ? "1" : "0";
            var note = $(this).closest("tr").find(".linkNote").val();
            ajaxCall('POST', "/chains/" + chainUID + "/links", "value=" + value + "&note=" + note)
        });

        $(".chainShowInLogsStatus").on('click', function (e) {
            var chainUID = $(this).data('uid');
            var showInLogs = $(this).is(':checked') ? "1" : "0";
            ajaxCall('PUT', "/chains/" + chainUID + "/showInLogs", "showInLogs=" + showInLogs)
        });

        $(".chainConstantStatus").on('click', function (e) {
            var chainUID = $(this).data('uid');
            var constant = $(this).is(':checked') ? "1" : "0";
            console.log(constant);
            ajaxCall('PUT', "/chains/" + chainUID + "/constant", "constant=" + constant)
        });

        $('.enterButtonKeyPress').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                var chainType = $(this).data('type');

                if (chainType === 'boolean') {
                    var value = $(this).closest("tr").find(".linkBooleanValue").is(':checked') ? "1" : "0";
                } else {
                    var value = $(this).closest("tr").find(".linkValue").val();
                }
                var chainUID = $(this).data('uid');
                var note = $(this).closest("tr").find(".linkNote").val();
                ajaxCall('POST', "/chains/" + chainUID + "/links", "value=" + value + "&note=" + note)
            }
        });

    });
</script>
</body>
</html>