<div class="modal fade" id="bookFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <h5 class="card-title">Add Book by ISBN</h5>
                    <input id="isbn" placeholder="Type ISBN" type="text"
                           class="form-control">
                </div>

                <hr>

                <h5 class="card-title">Add Book Manually</h5>

                <form id="bookSaveForm" name="bookSaveForm">

                    <div class="form-group">
                        <label for="bookTitle">Title:</label>
                        <input type="text" id="bookTitle" name="bookTitle" placeholder="Title" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="authors">Author:</label>
                        <select id="authors" name="authors[]" class="form-control select2-multi">
                            {{#authors}}
                                <option value="{{id}}">{{author}}</option>
                            {{/authors}}
                        </select>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="publisher">Publisher:</label>
                            <select id="publisher" name="publisher" class="form-control">
                                <option disabled selected>Choose publisher</option>
                                {{#publishers}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/publishers}}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pageCount">Page Count:</label>
                            <input type="number" id="pageCount" name="pageCount" placeholder="Page Count"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="pdf">PDF:</label>
                            <select id="pdf" name="pdf" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="epub">Epub:</label>
                            <select id="epub" name="epub" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="own">Own:</label>
                            <select id="own" name="own" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="notes">Notes:</label>
                        <input id="notes" name="notes" placeholder="Notes" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="tags">Tags:</label>
                        <input id="tags" placeholder="Tags" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="tags">Info Link:</label>
                        <input id="info_link" placeholder="Info Link" type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.select2-multi').select2({
            multiple: true,
            theme: 'bootstrap4',
        });

        $("#save").on('click', function (e) {

            var formData = $('#bookSaveForm').serialize();
            var result = ajaxCall('POST', '/books', formData)

            if (result !== false) {
                $('#bookFormModal').modal('hide');
            }

        });

        $('#isbn').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                var isbn = $('#isbn').val();
                if (isbn !== "") {
                    var result = ajaxCall('POST', "/books", "isbn=" + isbn);

                    if (result !== false) {
                        $('#bookFormModal').modal('hide');
                    }
                }
            }
        });

    });
</script>