<div class="modal fade" id="editTodoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insert a Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <input type="text" id="editTitle" name="editTitle" class="form-control">
                </div>

                <br>

                <div id="editDescription"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="updateEditTodo" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/summernote.js"></script>

<script>
    $(document).ready(function () {

        $(".btnEditTodo").on('click', function (e) {

            var id = $(this).data('id');

            var result = ajaxCall('GET', '/todos/' + id, null, false, false)

            if (result !== false) {
                $('#updateEditTodo').data('id', id);
                $('#editTitle').val(result.todo.todo);
                $('#editDescription').summernote('code', result.todo.description);
            }

        });

        $("#updateEditTodo").on('click', function (e) {

            var description = $('#editDescription').summernote('code');
            var title = $('#editTitle').val();
            var todoId = $('#updateEditTodo').data('id');
            var data = "description=" + encodeURIComponent(description) + "&title=" + encodeURIComponent(title);

            var result = ajaxCall('PUT', '/todos/' + todoId, data)

            if (result !== false) {
                $('#editTodoModal').modal('hide');
                $('#editDescription').summernote('destroy');
                location.reload();
            }

        });

    });
</script>
